@import 'media';
html,
body {
    height: 100vh;
    overflow: hidden;
}

#app {
    height: 100vh;
    width: 100vw;
    background: var(--app-color);
}

.wrapper {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .with-scroll {
        overflow-x: auto;
    }
}

.layout-home {
    //
}

.layout-player {
    position: relative;
}

.layout-viewer {
    display: flex;
    min-height: 300px;
    &:only-child {
        width: 100vw;
        height: 100vh;
    }
}

.layout-editor {
    background-color: var(--ed-base);
    min-width: fit-content;
    &:only-child {
        width: 100vw;
        height: 100vh;
    }
}

.layout-lab {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}