@import 'media';
#app {
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    background: var(--app-color);
    // width: fit-content;
}

.wrapper {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .with-scroll {
        overflow-x: auto;
    }
}